{% assign main_menu_linklist = linklists[section.settings.main-menu].links %}

<header class="main-header">
    <div class="md:flex md:items-center gap-x-4 md:container md:mx-auto md:h-24">
        <div class="flex items-center gap-x-3 h-20 z-50 px-4 md:h-auto md:w-auto md:px-0 md:mt-5">
            <a href="/" class="main-header__logo">
                {{ 'logo-dm-blue.svg' | asset_url | img_tag: 'Daniel Morales B Logo', 'main-header__logo-blue' }}
                {{ 'logo-dm-gold.svg' | asset_url | img_tag: 'Daniel Morales B Logo', 'main-header__logo-gold' }}
            <span class="sr-only">Home link</span>
            </a>
            <span class="text-primary-light font-bold italic lg:text-lg">{{ section.settings.store_title }}</span>
            <button class="main-header__toggle" data-collapse-toggle="navbar-hamburger">
                <span class="sr-only">Toggle Nav</span>
            </button>
        </div>
        <nav class="bg-quaternary border-solid border-b-2 border-primary pb-4 hidden shadow-lg shadow-black absolute w-full md:flex md:gap-x-10 md:border-none md:pb-0 md:shadow-none md:static md:w-auto md:ml-auto" id="navbar-hamburger">
            <ul class="flex flex-col gap-4 md:flex-row md:items-baseline md:h-10">
                {% for link in main_menu_linklist %}
                    <li class="md:h-full md:flex md:flex-col md:justify-end">
                        <a href="{{ link.url }}" class="text-primary-light hover:text-tertiary block text-center md:text-left"><span>{{ link.title }}</span></a>
                    </li>
                {% endfor %}
            </ul>

            {%  if shop.customer_accounts_enabled %}
            <ul class="flex flex-col gap-4 md:flex-row md:items-baseline mt-8 md:mt-0 md:h-10">
                <li class="flex flex-col gap-4 md:flex-row md:items-start">
                    <a href="{{ routes.account_login_url }}" class="flex justify-center text-primary-light hover:text-tertiary text-center md:flex-col md:items-center">
                        {% render 'icon-lock-closed' %}
                        <span>Login</span>
                    </a>
                </li>
                <li class="flex flex-col gap-4 md:flex-row md:items-start">
                    <a href="{{ routes.account_register_url }}" class="flex justify-center text-primary-light hover:text-tertiary text-center md:flex-col md:items-center">
                        {%render 'icon-pencil-square' %} 
                        <span>Register</span>
                    </a>
                </li>
            </ul>
            {%  endif %}
        </nav>
  </div>
</header>
{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "store_title",
            "label": "Title",
            "default": "Your online store"
        },
        {
            "type": "link_list",
            "id": "main-menu",
            "label": "Main menu"
        }
    ]
}
{% endschema %}