<header class="main-header">
    <div class="md:flex md:items-center justify-between md:container md:mx-auto md:h-28">
        <div class="flex items-center justify-between h-20 z-50 px-7 md:w-auto md:px-0">
            <a href="/" class="main-header__logo">
                {{ 'logo-dm-blue.svg' | asset_url | img_tag: 'Daniel Morales B Logo', 'main-header__logo-blue' }}
                {{ 'logo-dm-gold.svg' | asset_url | img_tag: 'Daniel Morales B Logo', 'main-header__logo-gold' }}
            <span class="sr-only">Home link</span>
            </a>
            <button class="main-header__toggle" data-collapse-toggle="navbar-hamburger">
                <span class="sr-only">Toggle Nav</span>
            </button>
        </div>
        <nav class="bg-quaternary border-solid border-b-2 border-primary pb-4 hidden shadow-lg shadow-black absolute w-full md:block md:border-none md:pb-0 md:shadow-none md:static md:w-auto" id="navbar-hamburger">
        <ul class="flex flex-col gap-4 md:flex-row md:items-start">
            {% for link in linklists.main-menu.links %}
            <li>
            <a href="{{ link.url }}" class="text-primary-light text-base-lg hover:text-tertiary block text-center md:text-left"><span>{{ link.title }}</span></a>
            </li>
            {% endfor %}
        </ul>
        </nav>
    <nav class="hidden">
        <a href="/" class="">
            {% render 'logo-dm-blue' %}
            <span class="sr-only">Home Link</span>
        </a>
        <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full" id="navbar-hamburger">
            <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                {% for link in linklists.main-menu.links %}
                <li>
                    <a href="{{ link.url }}" class="block py-2 px-3 text-white bg-blue-700 rounded dark:bg-blue-600" aria-current="page">{{ link.title }}</a>
                </li>
                {%  endfor %}
            </ul>
        </div>
    </nav>
  </div>
</header>
{% schema %}
{
    "name": "Navigational Header",
}
{% endschema %}